.linku{
    text-align: center;
}
.linku a{
    text-decoration: none;
    font-family: Arial;
    color: red;
}
.linku a:hover{
    color: aqua;
}
.active{
    background-color: white;
    padding: 5px;
    color: red !important;
}
.profil{
    color: white;
}
.profil h2{
    text-align: left;
}
.kontak a{
color: white;
font-size: 50px;
}
.kontak h4{
color: white;
font-size: 25px;
font-family: Arial;
}